<div class="row">
  <div class="col-md-12">
    <h1>Viking Store Analytics Dashboard</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
  </div>
  <div class="col-md-6">
  </div>
</div>

<div class="row">
  <div class="col-md-6">
  </div>
  <div class="col-md-6">
  </div>
</div>