<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Item</th>
      <th>Data</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>New Users</td>
      <td>
        <%= users %>
      </td>
    </tr>
    <tr>
      <td>Orders</td>
      <td>
        <%= orders %>
      </td>
    </tr>
    <tr>
      <td>New Products</td>
      <td>
        <%= products %>
      </td>
    </tr>
    <tr>
      <td>Revenue</td>
      <td>
        $<%= number_with_precision(revenue, :precision => 2, :delimiter => ',') %>
      </td>
    </tr>
  </tbody>
</table>
