<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Item</th>
      <th>Data</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Number of Orders</td>
      <td>
        <%= new_orders %>
      </td>
    </tr>
    <tr>
      <td>Total Revenue</td>
      <td>
        $<%= number_with_precision(revenue, :precision => 2, :delimiter => ',') %>
      </td>
    </tr>
    <tr>
      <td>Average Order Value</td>
      <td>
        $<%= number_with_precision( revenue / new_orders, :precision => 2, :delimiter => ',') %>
      </td>
    </tr>
    <tr>
      <td>Largest Order Value</td>
      <td>
        $<%= number_with_precision( largest_order, :precision => 2, :delimiter => ',') %>
      </td>
    </tr>
  </tbody>
</table>