
	<div class="row">

		<div class="col-sm-6 left-pane">
			<h2>1. Overall Platform</h2>
			<%= render 'platform' %>
		</div>
		<div class="col-sm-6 right-pane">
			<h2>2. User Demographics and Behavior</h2>
			<%= render 'demographics' %>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 left-pane">
			<h2>3. Order Statistics</h2>
			<%= render 'statistics' %>
		</div>
		<div class="col-sm-6 right-pane">
			<h2>4. Time Series Data</h2>
			<%= render 'time_series' %>
		</div>
	</div>
