<h4><strong>Logistical Information</strong></h4><br>
<h4>Basic Information</h4>
<p>Owner ID: <%= @user ? @user.id : "N/A" %></p>
<p>Owner Name: <%= @user ? (link_to @user.name, admin_user_path(@user)) : "N/A" %></p>
<p>Phone Number: <%= @user ? @user.phone_number : "N/A" %></p>
<p>Date Placed: <%= display_if(@order.checkout_date) %></p>
