<div class="panel">
	 <%= form_tag(edit_user_order_path(@order.user_id, @order.id)) do %>
	 <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Product ID</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <tbody>
      <% 5.times do%>
			  <tr>
			    <td><%= text_field :product, "[#{purchase.product_id}][quantity]" %></td>
			    <td><%= text_field :product, "[#{purchase.product_id}][quantity]" %></td>
			  </tr>
			<% end %>
    </tbody>
  </table>
  <%= submit_tag %>
  <% end %>
</div>