<h3>Logistical Information </h3>
<h4>Basic Information</h4>
<p>Owner ID: <%= @order.user.id %></p>
<p>Owner Name: <%= link_to "#{@order.user.first_name} #{@order.user.last_name}", user_path(@order.user) %></p>
<p>Phone Number: <%= @order.user.phone_number %></p>
<p>Date Place: <%= @order.created_at %></p>
