<h1>Check out</h1>

<%= form_for @order do |order_fields| %>
  <div class="panel">
    <h2>Shipping + Billing</h2>
  </div>

  <div class="panel">
    <h2>Review + Complete</h2>

    <div>
      <table class="table">
        <thead>
          <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Item Price</th>
            <th>Total Price</th>
          </tr>
        </thead>
        <tbody>
          <%= render 'order', :purchases => @order.purchases %>
        </tbody>
      </table>
    </div>

    <div class="order-total">
    </div>

  </div>

  <div class="panel">
    <h2>Place Order</h2>
  </div>

<% end %>