
	<div class="row">
		<h2>Categories</h2>

		<ul>
			<%= render @categories %>
		</ul>
	</div>

	<div class="row">
		<button class="btn btn-primary new_category"><%= link_to "Create New", new_admin_category_path %></button> 

	</div>

