$flag-dark-blue: #005486;
$flag-blue: #006AA7;
$flag-light-blue: #0095ED;

$flag-yellow: #FECC00;

$normal-dark: linear-gradient($flag-blue, $flag-dark-blue);
$dark-normal: linear-gradient($flag-dark-blue, $flag-blue);
$light-normal: linear-gradient($flag-light-blue, $flag-blue);
$normal-light: linear-gradient($flag-blue, $flag-light-blue);