<tr>
  <td><%= category.id %></td>
  <td><%= link_to category.name, category %></td>
  <td><%= link_to "edit", edit_category_path(category) %></td>
  <td><%= link_to "delete", category, :method => :delete, :data => { confirm: "Are you sure?" } %></td>
</tr>