<h2>Product Categories</h2>

<%= link_to "Add a New Category", new_category_path, :class => "btn btn-large btn-primary btn-block", :role => "button" %>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>EDIT</th>
      <th>DELETE</th>
    </tr>
  </thead>
  <tbody>
    <%= render @categories %>
  </tbody>
</table>
