<section>
  <h2>Product Categories</h2>
  <%= link_to "Add a New Category", "#" %>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>SHOW</th>
        <th>EDIT</th>
        <th>DELETE</th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td><%= category.id %></td>
          <td><%= category.name %></td>
          <td><%= link_to "show", category_path(category.id) %></td>
          <td></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<section>