<h3>Admin Actions for <%= @user.first_name %> <%= @user.last_name %></h3>
<button class="btn btn-large btn-primary"><%= link_to "Create Order", new_admin_user_order_path(@user.id) %></button>
<button class="btn btn-large btn-primary"><%= link_to "Create Address", new_admin_user_address_path(@user.id) %></button>