<div class="col-xs-3 col-xs-offset-1">
	<p><%= product.title %></p>
	<p>$<%= product.price %></p>
	<form action="<%= products_path %>" method="GET">
		<%= hidden_field_tag(:product, product.id) %>
		<button class="btn btn-primary">Add to Cart</button>

	</form>
</div>


