<div class="row">
  <div class="col-md-12 ugly-banner">
    <h5><em>Choose from among our lineup of fine items below</em></h5>
  </div>
  <div class="col-sm-6 col-md-3 pull-right">
    <form action="<%= products_path %>" method="GET" class="form-inline">
      <div class="form-group">
        <%= select_tag(:products_filter, options_for_select(Category.all.map { |category| [category.name, category.id]}) , {include_blank: true, :class => "form-control"}) %>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-swedish btn-submit">Apply Filter</button>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <%= render @products %>
</div>