<div class="row footer">
	<div class="col-xs-4">
		<h4>Contact</h4>
		<p><%= image_tag('phone_icon.png')%> 1-000-000-000</p>
		<p><%= image_tag('email-icon.png') %> contact@vikingstore.com</p>
	</div>

	<div class="col-xs-2 col-xs-offset-6">
	<%= link_to "Admin Login", root_path %>
	</div>

</div>