<div class="row footer">
	<div class="col-xs-4 col-xs-offset-4">
		<p>Contact</p>
		<p>1-000-000-000</p>
		<p>contact@vikingstore.com</p>
	</div>

	<div class="col-xs-2 col-xs-offset-2">
	<%= link_to "Admin Login", root_path %>
	</div>

</div>